node_modules/
coverage/
dist/
package-lock.json
Chrome.zip
Edge.zip
FireFox.zip
HOWTORESUME
HOWTO-RELEASE
extension/updateswh.js
extension/manifest.json
extension/manifest-v3.json
.#*
*~
extension-firefox-build/
