.swh-save-button {
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 12px;
    font-family:  "Helvetica", "Arial", "sans-serif";
    text-align: center;
    margin: 0;
    width: 35px;
    height: 40px;
    float: right;
    border-radius: 40px 0 0 40px;
    box-shadow: 0 1px 5px -1px #333;
    cursor: pointer;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: none;
    background: transparent;
    height: 50px;
    width: 50px;
    position: fixed;
    right: -5px;
    top: 33%;
    border: 0;
    z-index: 9999999999;
}

.swh-save-icon {
    margin-left: 3px;
    margin-top: 2px;
}
.swh-save-button.label {
    margin-top: 4px;
}
.swh-save-button:hover {
    right: 0;
}

.swh-save-button.green {
    background: #20e168;
}
.swh-save-button.lightgreen {
    background: #90ee90;
}
.swh-save-button.grey {
    background: #D3D3D3;
}
.swh-save-button.yellow {
    background: #ffff00;
}
.swh-save-button.orange {
    background: #ffA500;
}
.swh-save-button.brown {
    background: #A52A2A;
}
.swh-save-button.red {
    background: #ff0000;

}


/*The button color for origin we couldn't find in SWH*/

.swh-save-button.grey {
    border-right: none;
    background: #bbb;
}
